body{
    background-color: blanchedalmond;
}
.form-box{
    width: 30%;
    margin: auto;
}
fieldset{
    display: inline-block;
    width: 15%;
    
}
label{
    display: inline-block;
}
.button{
    width: 100%;
    background-color: greenyellow;
    color:black;
}
.clear{
    background-color: red;
    color: white;
}